.panel {
  background-color: #eee;
  height: 100vh;
  padding: 5px;
  border-radius: 30px;
  display: flex;
  flex-direction: row;
}
.idBtn {
  background-color: red;
  color: white;
  border: none;
  padding: 0px 10px;
  border-radius: 5px;
  margin-right: 2px;
}
