.dashboard {
  background-color: white;
  padding: 3px;
  /* max-width: max-content; */
  width: 100%;
  border-radius: 20px;
  align-items: center;
  border: 1px solid rgb(187, 187, 187);
  margin-left: 5px;
  background-color: rgb(207, 209, 243);
  overflow: auto;

  /* overflow-x: auto;
  overflow-y: auto; */
}
.chartHolder {
  display: flex;
  flex-direction: row;
  margin: auto;
}
.bigchart {
  width: 200px;
  margin-left: 50px;
}
.btnDashremove {
  margin-top: 5px;
  margin-right: 2px;
  float: right;
  cursor: pointer;
  border: none;
  background-color: rgb(61, 54, 142);
  border-radius: 0 0 10px 10px;
  color: white;
  padding: 5px 20px;
}
.btnDashremove:hover {
  background-color: rgb(184, 0, 0);
}
.btnDashsave {
  margin-top: 5px;
  margin-right: 2px;
  float: right;
  cursor: pointer;
  border: none;
  background-color: rgb(61, 54, 142);
  border-radius: 0 0 10px 10px;
  color: white;
  padding: 5px 20px;
}
.btnDashsave:hover {
  background-color: green;
}
